@import "colors.css";

Label {
    -fx-text-fill: -color-contrast;
}

.mfx-button,
.mfx-button:armed,
.mfx-button:focused {
    -fx-text-fill: white;
    -fx-background-color: -color-accent;
}

.mfx-scroll-pane:focused,
.mfx-scroll-pane:armed,
.mfx-scroll-pane {
    -fx-background-color: transparent;
}